body{
    background-color: rgb(27, 27, 27); /*Fond de page en noir */
    color: rgb(214, 214, 214); /* Le texte de la page sera blanc */
	background-image: url("background.jpg")}

h1{fontweight: bold; color: rgb(0, 60, 160); text-align: center; font-size: 48}

h2{fontweight: bold; color: rgb(0, 108, 227)}

div{display: inline}

table {border: medium solid white; border-collapse: collapse; width: 50%}

td {border: thin solid white; width: 50%}

.info{text-decoration: underline; color: white}

.decale{text-indent: 1em;}

.link{color: rgb(83, 165, 255)}

#box{
	display: block;
	width: 60%;
	height: 95%;
	margin-left: 20%;
	border: 5px solid white;
	background-color: rgb(27, 27, 27) }

#bigline{height: 2px; background-color: white}

#photo {
	width: 130px;
	height: 130px;
	float: right;
	margin-right: 5%;
	margin-top: 7px;
	border: 2px solid white}

